[Unit]
Description=IT490 PHP Built-In Web Server
After=network.target

[Service]
WorkingDirectory=/home/website/IT490-Project
ExecStart=/usr/bin/php -S 0.0.0.0:80 -t frontend
Restart=always

[Install]
WantedBy=multi-user.target